.create-comment {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    min-height: 25px;
    outline: 0;
    padding: 23px 12px 14px;
    resize: none;
    width: 100%;
}

.date {
    padding: 0 $base-spacing;
}
