.create-post {
    @extend %element-base;
    background-color: #fff;
    textarea {
        background-color: transparent;
        border: 0;
        box-sizing: border-box;
        display: block;
        font-size: 14px;
        line-height: 18px;
        min-height: 69px;
        outline: 0;
        padding: 23px 12px 14px;
        resize: none;
        width: 100%;
    }
    .displayMap {
        @extend %element-base;
        margin-top: 1em;
        #map {
            height: 150px;
            width: 100%;
        }
        .control-bar {
            display: flex;
            flex-direction: row;
            i {
                color: $blue;
                cursor: pointer;
                padding-right: 10px;
            }
        }
        input {
            background-color: transparent;
            border: none;
            box-sizing: border-box;
            display: block;
            font-size: 14px;
            outline: 0;
            width: 100%;
            padding: 0 0 10px;
        }
    }
}
