// Loaders ======================================
$primary-color: blue;
.loader-hidden {
    display: none;
}
.line-scale > div {
    background: $brand-primary;
    outline: blue;
}

.loader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 3em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}
