// Posts ============================
.posts {
    margin: $base-spacing 0;
    padding: 5px;
}

.content {
    margin: $base-spacing * 2 0;
}

.post {
    @extend %element-base;
    background-color: $white;
    margin-bottom: $base-spacing * 1.5;

    .user {
        border-bottom: $border-base;
        display: flex;
        align-items: center;
        padding: 5px;
        & > * {
            padding: 0 5px;
        }
    }

    &:hover {
        cursor: pointer;
        transition: all 0.3s;
    }

    & > img {
        border-radius: 5px;
    }
    .controls {
        span {
            margin: auto 5px;
        }
    }
}

.post-actions {
    padding: 10px 5px;
    color: $blue;
}
