{
    "env": {
        "development": {
            "presets": ["react-app", "env"],
            "plugins": ["transform-class-properties"]
        },
        "production": {
            "presets": [
                "react-app",
                [
                    "env",
                    {
                        "targets": {
                            "browsers": ["last 5 versions", "safari >= 7"],
                            "node": "current"
                        }
                    }
                ]
            ],
            "plugins": ["transform-class-properties"]
        }
    }
}
