{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "development": {
      "plugins": [
         "typecheck",
      ],
      "presets": [
        "react-hmre"
      ]
    }
  }
}
