// colors
$blue: #4f93e0;
$white: #fff;
$bg-default: #e9ebee;
$navbar-default-bg: #fff;

// fonts
$font-family-sans-serif: 'Lato', sans-serif !default;

// Element spacing
$base-spacing: 1em;
$base-margin: 5px;

// Borders ============================
$border-base: 2px solid $gray-lighter;
