// @flow
@import 'variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Borders ============================
$border-base: 2px solid $gray-lighter;

// Globals ============================
body {
  background-color: $bg-default;
  margin-top: $navbar-height;
}

// Defaults ============================
%element-base {
  border: $border-base;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

// Navbar ============================
.navbar-brand {
  float: none;
  padding: 5px;
}

.social {
  font-family: 'Space Mono', monospace;
}

// Posts ============================
.posts {
  margin: $base-spacing 0;
  padding: 5px;
}

.post {
  @extend %element-base;
  background-color: $white;
  margin-bottom: $base-spacing * 1.5;

  .user {
    border-bottom: $border-base;
  }

  img {
    padding: 10px;
  }
}

.control {
  margin: 3px 0;

  &:hover {
    background-color: transparent;
    color: $blue;
  }

  .control-with-counter {
    padding-right: 5px;
  }
}

.comment {
  border-top: 1px solid $gray-lighter;
  margin-top: 0;
  padding: 0 10px;
}


// Fixes ============================
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

// Sidebar ============================
.sidebar {
  margin: $base-spacing 0;
}

.date {
  padding-left: 3px;
}
