// @flow
@import 'variables';
@import '../../node_modules/loaders.css/src/loaders';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

// Borders ============================
$border-base: 2px solid $gray-lighter;

// Globals ============================
body {
  background-color: $bg-default;
  margin-top: $navbar-height;
}

// Defaults ============================
%element-base {
  border: $border-base;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

// Navbar ============================
.navbar-brand {
  float: none;
  padding: 5px;
}

.social {
  font-family: 'Space Mono', monospace;
}

// Posts ============================
.posts {
  margin: $base-spacing 0;
  padding: 5px;
}

.post {
  @extend %element-base;
  background-color: $white;
  margin-bottom: $base-spacing * 1.5;

  .user {
    border-bottom: $border-base;
  }

  img {
    padding: 10px;
  }
}

.control {
  margin: 3px 0;

  &:hover {
    background-color: transparent;
    color: $blue;
  }

  .control-with-counter {
    padding-right: 5px;
  }
}

.comment {
  border-top: 1px solid $gray-lighter;
  margin-top: 0;
  padding: 0 10px;
}


// Fixes/Overrides ============================
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

// Sidebar ============================
.sidebar {
  margin: $base-spacing 0;
}

.date {
  padding-left: 3px;
}


// Filter controls ============================
.filters {
  .filter-section-header {
    border-bottom: 2px solid $gray-lighter;
  }
  .filter-control {}
  hr.filter-section-divider {
    margin: 15px 0 10px;
    border-top: 1px solid $gray-light;
  }
}


// Loaders ======================================
$primary-color: blue;

.loader-hidden {
  display: none;
}

.line-scale > div {
  background: $brand-primary;
  outline: blue;
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 3em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}
