@import 'variables';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}
.navbar-brand {float:none;}
