@keyframes ball-grid-pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.5);
    opacity: 0.7; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.ball-grid-pulse {
  width: 57px; }
  .ball-grid-pulse > div:nth-child(1) {
    animation-delay: 0.73s;
    animation-duration: 0.94s; }
  .ball-grid-pulse > div:nth-child(2) {
    animation-delay: -0.13s;
    animation-duration: 1.34s; }
  .ball-grid-pulse > div:nth-child(3) {
    animation-delay: -0.16s;
    animation-duration: 1.41s; }
  .ball-grid-pulse > div:nth-child(4) {
    animation-delay: -0.14s;
    animation-duration: 1.11s; }
  .ball-grid-pulse > div:nth-child(5) {
    animation-delay: 0.03s;
    animation-duration: 1.52s; }
  .ball-grid-pulse > div:nth-child(6) {
    animation-delay: 0.77s;
    animation-duration: 1.2s; }
  .ball-grid-pulse > div:nth-child(7) {
    animation-delay: -0.1s;
    animation-duration: 1.46s; }
  .ball-grid-pulse > div:nth-child(8) {
    animation-delay: 0.41s;
    animation-duration: 1.27s; }
  .ball-grid-pulse > div:nth-child(9) {
    animation-delay: -0.13s;
    animation-duration: 1.5s; }
  .ball-grid-pulse > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    animation-fill-mode: both;
    display: inline-block;
    float: left;
    animation-name: ball-grid-pulse;
    animation-iteration-count: infinite;
    animation-delay: 0; }
