@keyframes line-scale-party {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

.line-scale-party > div:nth-child(1) {
  animation-delay: 0.06s;
  animation-duration: 0.4s; }

.line-scale-party > div:nth-child(2) {
  animation-delay: 0.79s;
  animation-duration: 0.6s; }

.line-scale-party > div:nth-child(3) {
  animation-delay: -0.18s;
  animation-duration: 1.16s; }

.line-scale-party > div:nth-child(4) {
  animation-delay: -0.12s;
  animation-duration: 1.2s; }

.line-scale-party > div {
  background-color: #fff;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: line-scale-party;
  animation-iteration-count: infinite;
  animation-delay: 0; }

