body {
  font-family: 'Open Sans', sans-serif;
  background-color: #e9ebee;
  margin-top: 40px; }

.element-base, .load-more, .create-post, .post {
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 10px; }

.welcome {
  background-color: #fff;
  border: 2px solid #eeeeee;
  border-radius: 5px;
  padding: 10px; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.home {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: [left] 20vw [center] 50vw [right] 20vw;
  justify-content: center; }
  .home > div {
    margin-top: 10px; }

.single-post {
  display: grid;
  grid-template-columns: [left] 20vw [center] 50vw [right] 20vw;
  justify-content: center; }
  .single-post > span {
    text-align: right; }

.login .providers {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(4, auto [col-start]);
  justify-content: center;
  padding: 10px 0; }

.logo {
  cursor: pointer;
  background-color: #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: left;
  font-weight: bold;
  color: #4267b2;
  border-radius: 5px;
  padding: 2px; }
  .logo a {
    color: #555555;
    text-decoration: none; }
  .logo .logo-animate {
    font-weight: 400;
    opacity: 0; }

.error {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50vw;
  justify-content: center; }
  .error h2,
  .error .message,
  .error p {
    text-align: center; }
  .error code {
    background-color: #ccd1d8;
    padding: 10px;
    border-radius: 5px; }

button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.25rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  color: #fff;
  background-color: #4267b2;
  cursor: pointer; }
  button:active {
    background-color: #34518d; }
  button .block {
    width: 100%; }
  button a {
    text-decoration: none;
    color: #fff; }

.loader-hidden {
  display: none; }

.line-scale > div {
  background: #337ab7;
  outline: blue; }

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 3em;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block; }

.navbar-brand {
  float: none;
  padding: 5px; }

.navbar {
  padding: 3px 5% 5px;
  color: #fff;
  background-color: #4267b2;
  justify-content: space-between;
  align-items: center;
  border: 1px solid transparent;
  box-sizing: border-box;
  display: inline-flex;
  left: 0;
  min-height: 40px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1030; }

.social {
  font-family: 'Space Mono', monospace; }

.user-nav-widget {
  display: flex; }
  .user-nav-widget img {
    height: 25px;
    width: 25px;
    border-radius: 50%; }
  .user-nav-widget span,
  .user-nav-widget img,
  .user-nav-widget i {
    padding: 0 5px; }
  .user-nav-widget i {
    cursor: pointer; }

.link {
  border-top: 1px solid #eeeeee;
  cursor: pointer;
  margin: 1em 0;
  padding-top: 5px; }
  .link .url {
    color: #777777;
    margin-bottom: 5px; }
  .link .title {
    color: #222222; }
  .link .description {
    color: #777777; }

.create-comment {
  background-color: transparent;
  border: 0;
  box-sizing: border-box;
  display: block;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  min-height: 25px;
  outline: 0;
  padding: 23px 12px 14px;
  resize: none;
  width: 100%; }

.date {
  padding: 0 1em; }

.create-post {
  background-color: #fff; }
  .create-post textarea {
    background-color: transparent;
    border: 0;
    box-sizing: border-box;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    min-height: 69px;
    outline: 0;
    padding: 23px 12px 14px;
    resize: none;
    width: 100%; }

.letter li {
  list-style-type: none; }

.posts {
  margin: 1em 0;
  padding: 5px; }

.content {
  margin: 2em 0; }

.post {
  background-color: #fff;
  margin-bottom: 1.5em; }
  .post .user {
    border-bottom: 2px solid #eeeeee; }
  .post:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    transition: all 0.3s; }
  .post img {
    padding: 10px; }

.control {
  margin: 3px 0; }
  .control:hover {
    background-color: transparent;
    color: #4267b2; }
  .control .control-with-counter {
    padding-right: 5px; }

.comment {
  border-top: 1px solid #eeeeee;
  margin-top: 0;
  padding: 0 10px; }

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important; }

.btn-default i {
  min-height: 15px; }
