<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Letters Social | React In Action by Mark Thomas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato|Space+Mono" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- Meta -->
    <meta name="application-name" content="Letters Social | React in Action by Mark Thomas" />
    <meta property="og:title" content="Letters Social | React in Action by Mark Thomas" />
    <meta name="og:description" content="Letters Social is a sample application created using ReactJS. You can build it in React in Action by Mark Thomas">
    <meta property="og:url" content="http://social.learnreactjs.io/" />
    <meta property="og:image" content="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/share.png" />
    <meta name="fb:app_id" content="1230502183634693">
    <meta property="og:site_name" content="Letters Social | React in Action by Mark Thomas" />
    <meta property="og:type" content="book" />
    <meta property="book:author" content="MarkOfThomas" />
    <meta property="book:tag" content="react" />
    <meta property="book:tag" content="reactjs" />
    <meta property="book:tag" content="React in Action" />
    <meta property="book:tag" content="javascript" />
    <meta property="book:tag" content="single page application" />
    <meta property="book:tag" content="Manning publications" />
    <meta property="book:tag" content="Mark Thomas" />

    <!-- Favicons etc. -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/favicon-128.png" sizes="128x128" />
    <meta name="msapplication-TileColor" content="#61DAFB" />
    <meta name="msapplication-TileImage" content="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="https://drtzvj8zd0k9x.cloudfront.net/assets/meta/mstile-310x310.png" />

    <!-- Push state stuff -->
    <base href="/">
</head>

<body>
    <div id="app"></div>

    <!-- Feel free to replace this with your own GA code -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-80377914-2', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        var _rollbarConfig = {
            accessToken: "ff2f474cba884fa9bb12cdcb9da1d26e",
            captureUncaught: true,
            captureUnhandledRejections: true,
            payload: {
                environment: "production"
            }
        };
        !function(r){function e(n){if(o[n])return o[n].exports;var t=o[n]={exports:{},id:n,loaded:!1};return r[n].call(t.exports,t,t.exports,e),t.loaded=!0,t.exports}var o={};return e.m=r,e.c=o,e.p="",e(0)}([function(r,e,o){"use strict";var n=o(1).Rollbar,t=o(2);_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/1.9.3/rollbar.min.js";var a=n.init(window,_rollbarConfig),i=t(a,_rollbarConfig);a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,i)},function(r,e){"use strict";function o(r){return function(){try{return r.apply(this,arguments)}catch(r){try{console.error("[Rollbar]: Internal error",r)}catch(r){}}}}function n(r,e,o){(window._rollbarWrappedError&&(o[4]||(o[4]=window._rollbarWrappedError),o[5]||(o[5]=window._rollbarWrappedError._rollbarContext),window._rollbarWrappedError=null), r.uncaughtError.apply(r,o), e&&e.apply(window,o))}function t(r){var e=function(){var e=Array.prototype.slice.call(arguments,0);n(r,r._rollbarOldOnError,e)};return e.belongsToShim=!0,e}function a(r){(this.shimId=++c, this.notifier=null, this.parentShim=r, this._rollbarOldOnError=null)}function i(r){var e=a;return o(function(){if(this.notifier)return this.notifier[r].apply(this.notifier,arguments);var o=this,n="scope"===r;n&&(o=new e(this));var t=Array.prototype.slice.call(arguments,0),a={shim:o,method:r,args:t,ts:new Date};return window._rollbarShimQueue.push(a),n?o:void 0})}function l(r,e){if(e.hasOwnProperty&&e.hasOwnProperty("addEventListener")){var o=e.addEventListener;e.addEventListener=function(e,n,t){o.call(this,e,r.wrap(n),t)};var n=e.removeEventListener;e.removeEventListener=function(r,e,o){n.call(this,r,e&&e._wrapped?e._wrapped:e,o)}}}var c=0;a.init=function(r,e){var n=e.globalAlias||"Rollbar";if("object"==typeof r[n])return r[n];r._rollbarShimQueue=[],r._rollbarWrappedError=null,e=e||{};var i=new a;return o(function(){if(i.configure(e),e.captureUncaught){(i._rollbarOldOnError=r.onerror, r.onerror=t(i));var o,a,c="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(o=0;o<c.length;++o)a=c[o],r[a]&&r[a].prototype&&l(i,r[a].prototype)}return e.captureUnhandledRejections&&(i._unhandledRejectionHandler=function(r){var e=r.reason,o=r.promise,n=r.detail;!e&&n&&(e=n.reason,o=n.promise),i.unhandledRejection(e,o)},r.addEventListener("unhandledrejection",i._unhandledRejectionHandler)),r[n]=i,i})()},a.prototype.loadFull=function(r,e,n,t,a){var i=function(){var e;if(void 0===r._rollbarPayloadQueue){var o,n,t,i;for(e=new Error("rollbar.js did not load");o=r._rollbarShimQueue.shift();)for(t=o.args,i=0;i<t.length;++i)if(n=t[i],"function"==typeof n){n(e);break}}"function"==typeof a&&a(e)},l=!1,c=e.createElement("script"),p=e.getElementsByTagName("script")[0],s=p.parentNode;c.crossOrigin="",c.src=t.rollbarJsUrl,c.async=!n,c.onload=c.onreadystatechange=o(function(){if(!(l||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){c.onload=c.onreadystatechange=null;try{s.removeChild(c)}catch(r){}l=!0,i()}}),s.insertBefore(c,p)},a.prototype.wrap=function(r,e){try{var o;if(o="function"==typeof e?e:function(){return e||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._wrapped){r._wrapped=function(){try{return r.apply(this,arguments)}catch(e){throw("string"==typeof e&&(e=new String(e)), e._rollbarContext=o()||{}, e._rollbarContext._wrappedSource=r.toString(), window._rollbarWrappedError=e, e)}},r._wrapped._isWrap=!0;for(var n in r)r.hasOwnProperty(n)&&(r._wrapped[n]=r[n])}return r._wrapped}catch(e){return r}};for(var p="log,debug,info,warn,warning,error,critical,global,configure,scope,uncaughtError,unhandledRejection".split(","),s=0;s<p.length;++s)a.prototype[p[s]]=i(p[s]);r.exports={Rollbar:a,_rollbarWindowOnError:n}},function(r,e){"use strict";r.exports=function(r,e){return function(o){if(!o&&!window._rollbarInitialized){var n=window.RollbarNotifier,t=e||{},a=t.globalAlias||"Rollbar",i=window.Rollbar.init(t,r);i._processShimQueue(window._rollbarShimQueue||[]),window[a]=i,window._rollbarInitialized=!0,n.processPayloads()}}}}]);
    </script>
</body>

</html>
